<div class='teanGenerator_container'>
  <h2>Team Generator</h2>
  <div class="team_name_box">
<ul>
  <li *ngFor="let member of members">{{ member }}</li>
</ul>
  </div>
  <div class="add_team_box">
    <input
    #peopleInput
    type="text"
    (input)="onInput(peopleInput.value)"
    [value]="newMemberText"
    placeholder="Name"
  />
  <button (click)="onClick()">Add</button>
  </div>
  <div class="generate_team_box">
    <input
    #teamSizeInput
    type="number"
    placeholder="# of teams"
    [value]="numberOfTeams"
    (input)="onTeamSizeInput(teamSizeInput.value)"
  />
  <button (click)="generateTeams()">Generate</button>
  <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>

  <div class="teams-container" *ngIf="teams.length">
    
    <!-- <div
      *ngFor="let team of teams; let i = index"
      [team]="team"
      [index]="i"
    ></div> -->
  </div>
</div>